<div class="container">
    <div class="col-md-12 row">
      <div class="col-md-8"><b>Current Price :</b> <input type="text" required ng-model="id" id="id" name="id"/></div>
      <div class="col-md-2"><button type="button" class="btn btn-primary btn-sm" ng-click="getProduct(id)">Get Product</button></div>
    </div>
</div>
<div class="row" ng-if="error">
  <div class="alert alert-danger" role="alert"> {{error}}</div>
</div>
<div class="container row" ng-if="item">
  <div class="row" ng-if="success">
    <div class="alert alert-success" role="alert"> {{success}}</div>
  </div>
  <form class="col-md-8" name="productForm">
       <div class="well well-lg">
           <h3>ProductDetails</h3></br>
           <div><b>Product Id :</b> {{item.id}}</div></br>
           <div><b>Product Name :</b> {{item.name}}</div></br>
           <div><b>Current Price :</b> <input type="text" required ng-model="item.current_price.value" id="priceValue" name="priceValue"/></div></br>
           <div><b>Currency Code :</b> <input type="text" required ng-model="item.current_price.currency_code" id="currencyCode" name="currencyCode"/></div></br>
           <button type="button" class="updateBtn" ng-disabled="productForm.$inValid" ng-click="productForm.$valid && savePrice(item,id)">Update</button>
       </div>
  </form>
</div>
